[2013-01-29 18:25] napratin opened #1 "Merge serial_comm into master branch"
Looking at the current [network](https://github.com/NCSUhardware/high-level/network), it seems like the serial communication code is floating on a separate branch. I'd suggest merging it with the master branch and putting all individual files in the root of the repo (*.h, *.cpp) into a folder (say "serial_comm") to keep things organized. Requesting a git pro to look into this, and advise us on how

[2013-02-19 21:06] dfarrell07 commented on #1
I merged the serial_comm branch into master, packaged its code into qwe/comm, the deleted the remote branch.

[2013-02-19 21:07] #1 closed, assigned to dfarrell07

[2013-02-25 18:36] dfarrell07 opened #2 "Entry point for localizer process spawn"
When the controller spawns the localizer process, it needs to point the process at a target function. The function should accept shared data (currently dict of lists and dics) as well as the static map object.

[2013-02-25 19:39] dfarrell07 opened #3 "Entry point for planner process spawn"
The Planer.py module currently creates a Planner object when it is run as the main script, then calls start() on that object. A new function should be added that does this without the need to run as the main program or create a Planner object. This new function should accept shared values as an argument (currently a dict of lists and dicts).

[2013-02-25 19:43] dfarrell07 opened #4 "Entry point for vision process spawn"
The controller, when spawning the vision process, needs to point the process at a target function that will be run first and will accept the shared memory objects (currently a dict of lists and dicts). This new function should kick off all vision things, not require being called as main and not require creating a vision object.

[2013-02-25 19:48] dfarrell07 opened #5 "Mapper start-up"
The controller needs to be able to import the mapping code, then call a function that kicks off the mapper's work and returns a collection of waypoints and a static map object. The waypoint data will be copied to a shared data structure, which will be shared between other processes. The static map data will be passed to the localizer when it is first called.

[2013-02-25 19:51] dfarrell07 opened #6 "Need navigator code"
Currently, no one is working on the navigator. Someone should pick this up.

[2013-02-25 19:51] dfarrell07 opened #7 "Need sensor code"
Currently, there is no sensor code. Someone should pick this up.

[2013-02-25 22:06] rlsnow commented on #5
Ok, Thanks for the update.  I'm hoping to have this stuff implemented by Friday.  For now, if there's a need, you could just call my make map function and make the map directly instead of importing.  It takes a few seconds to populate the map but if you need to do some testing or something it should work.

Hopefully by Friday I will have the numpy implementation of the map, have way-points calcula

[2013-02-27 07:12] napratin commented on #4
We can have a vision.py module within qwe.vision sub-package, and a run() method in it along the lines of what has been created in Planner.py (a similar convention can be applied for all packages, i.e. a .py file by the same name with a run method). On a related note, I suggest promoting the contents of qwe.vision.cv to qwe.vision - one reason being that an OpenCV namespace is also called 'cv' whi

[2013-02-27 07:57] dfarrell07 commented on #4
I'm not seeing that vision.py module - have you pushed it?

daniel:~/Robot/current/high-level/qwe/vision$ grep -rni "run" ./*
./cv/linedetection.py:127:# Run a LineDetector instance using pycv.main.main()
./cv/colorfilter.py:177:# Run a ColorFilter instance using main.main()
./cv/linewalking.py:35:        # Run LineDetector for one iteration
./cv/linewalking.py:36:        keepRunning, imageOut = s

[2013-02-27 08:00] dfarrell07 commented on #4
I don't know of a good reason not to do the package refactoring that you described.

[2013-02-28 22:30] dfarrell07 commented on #6
I spent a fair amount of time last night thinking about nav. Still trying to learn about this domain and how to go about solving the problem, not close to writing code.

[2013-02-28 22:40] dfarrell07 commented on #3
I created one called run() in Planner.py. It's meant to be a stub, just to have something to target for the process spawn. Other package owners can look at it as an example of what's needed.

[code]

[2013-02-28 22:45] dfarrell07 commented on #4
I'm still not seeing the vision.py module or the run() function. Please go ahead and push it when you get a chance.

[2013-02-28 23:03] dfarrell07 commented on #4
Wow, sorry, just noticed the wording is "can have" - I thought you were saying that this code already existed, and I was just waiting on you to push. Sorry for the confusion!

[2013-02-28 23:09] dfarrell07 opened #8 "Need arm code"
We need logic for grabbing blocks and issuing commands, via comm, to the arms. This code should go in the action package, I believe. Please assign yourself if you're willing to take this on.

[2013-03-01 17:30] napratin commented on #4
Yes, sorry about that - I'm still working on it.

[2013-03-01 19:32] jschornick commented on #2
I'm starting to look at this now.

Initial questions:
- Does the controller also pass in the IPC channel?  What module are we using?
- What format is the map?
- Should I consider the bot_loc data as the initial x,y,theta to prime the localizer?

[2013-03-02 19:04] napratin commented on #5
NumPy has some built-in save/load functionality that you might want to look into:
http://docs.scipy.org/doc/numpy/reference/generated/numpy.save.html

It shouldn't change the rest of your code; only the arrays will be stored in NumPy's custom format (which I believe is more efficient, and has some optimizations that make it better than simple pickling). One advantage might be the zipped storage fu

[2013-03-02 19:43] napratin opened #9 "Python interface for comm module"
Serial communication code in comm is currently written in C/C++, other modules (esp. sensors, action, navigation) need a Python interface.

Basic requirements of such an interface:
- expose movement, arm rotate and gripper commands (must return after action is completed and acknowledged with feedback)
- expose sensor reading commands (data returned per sensor/sensor type)
- (optional) asynchronous

[2013-03-02 19:51] napratin commented on #4
Code pushed; qwe.vision.vision.run() will be the entry point. Some modification may be required (replace context argument with bot_loc, blocks, etc.).

[2013-03-02 19:51] #4 closed, assigned to napratin

[2013-03-02 19:55] napratin commented on #9
I can build a stub Python comm module, with some basic communication (or fake the communication part), mainly to specify the interface that I am expecting. Someone with better experience and/or investment in this, please pick up and implement the Python wrapper/port the code.

[2013-03-03 03:43] dfarrell07 commented on #9
Will you own this issue @bpulluri? If so, go ahead and assign yourself.

[2013-03-03 05:06] dfarrell07 commented on #4
I made the modifications you described above. Controller now spins up a vision process.

[2013-03-04 19:19] bpulluri commented on #9
Yeah.. will resolve it by tonight
On Mar 2, 2013 10:43 PM, "Daniel Farrell" notifications@github.com wrote:

[2013-03-07 22:47] napratin commented on #9
Some progress on serial communication from my end...I first checked in a skeleton module with stubs for methods that I thought we would need. While enhancing that, I started thinking about how different processes would share the serial line, and ended up implementing some of the functionality (see qwe/comm/serial_interface.py):
- SerialInterface contains a queue where commands are submitted using

[2013-03-07 22:57] napratin commented on #9
@bpulluri: I noticed you've checked in a binary .so file - has this been cross-compiled for OMAP4 platform? If not, I believe you need to compile it on the Pandaboard for it to work properly. In any case, you should check in a Makefile with the appropriate commands to generate the .so file, and any wrappers if applicable (we should be able to go to qwe/comm and run make). Also, I did not see a cor

[2013-03-08 03:17] jschornick commented on #2
I added a basic entry point at qwe/localizer/localizer.py:run()

We need to nail down what's actually getting passed in terms of the IPC command channel and sent out via shared data updates.  Until then, it's just a combination of class to stub classes, wild guesses, and no-ops.

Take a look and let me know if there are any immediate changes that should be made.

[2013-03-08 16:24] napratin commented on #4
I noticed you commented out visManager.start() in vision.py -> run(). Was it not working properly? It should simply open an available camera and start the appropriate vision processors. I'm going to modify it to accept a single argument - filename for a static image or video, that should help in development.

[2013-03-08 16:34] napratin commented on #9
@bpulluri I believe swig_wrapping.txt contains the commands to compile the shared library. Is that correct? If so, I couldn't find pyComm_wrap.cxx mentioned in it (is it auto-generated by SWIG?). Also, where is the API document located that you mentioned?

[2013-03-08 17:11] dfarrell07 commented on #2
Regarding the shared_data param, because of [this issue](http://goo.gl/SNNAs), it's more complex for anyone working with the shared data if I pass it in a mutable object, like localizer.run() currently accepts. I suggest expanding that param in a similar way to Planner.run().

One use for an IPC channel to localizer could be accepting results of movement actions from nav. I could have controller c

[2013-03-08 17:47] dfarrell07 commented on #2
I committed some changes to controller that should outline how I was thinking of starting localizer.

I'll start localizer with the following:

[code]

bot_loc is a dict of the x, y and theta components of the position.

[code]

qNav_loc is a multiprocessing.Queue for passing motion feedback from nav to localizer.

[code]

You'll likely not need some of those other shared objects. For now I'll pas

[2013-03-08 17:52] dfarrell07 commented on #6
My lack of tangible deliverable for nav is pissing me off. Since I was totally new to local planning, global planning, ROS and merging C++ and Python, I'm having to do a lot of background learning before I can produce something useful. Know that I'm making progress and am much closer to a solution, even if working code is still over the horizon.

[2013-03-08 18:22] jschornick commented on #6
As the guy still struggling with localization and all the related concepts... just wanted to say I understand.  =)

I'm still not sure I'm working toward the right solutions half the time.  If you ever need to bounce ideas off someone, don't be afraid to ask.  If nothing else, I'm fascinating by what you're learning on the subject.

[2013-03-08 18:51] dfarrell07 commented on #4
I think it was crashing when I commented that out, but it seems to be working perfectly now. I'll let you uncomment it, since you're making other changes and I don't want to cause you to have to deal with a manual merge.

[2013-03-08 22:14] dfarrell07 commented on #8
Per the discussion in today's meeting, the arm logic in the action package should execute a series of comm's arm commands. For starters, it should have functions to pick up a block and put down a block for a given arm.

[2013-03-08 22:19] dfarrell07 commented on #6
Per today's meeting, I'm going to focus on setting up basic message Python functions that take commands like "move 2cm forwards" and passes that to comm. This is to get some basic message passing setup between packages quickly, without doing the hard work of getting global and local nav working.

[2013-03-08 23:38] bpulluri commented on #9
arpan,

I believe its best to use raw bytes than command strings and we didn't have
any datatype mismatch problems the last time we tried.

Yeah, the .so isn't cross compiled and we have to do it on pandaboard .
pyComm_wrap.cxx is auto generated on executing commands in
swig_wrapping.txt. I wrote in the API file how I used the shared
library(not sure if that's the extension module method). The API

[2013-03-09 04:24] napratin commented on #9
@bpulluri: Great work - thanks for pointing me to the API, I should've checked Google Drive myself.

I've cleaned out the shared binary .so file and put in a Makefile (see GitHub comments) so that we can simply run "make" to generate SWIG wrappers and the library. I've also experimented with the module and it seems to work (it's pretty exciting, actually, to see Python talking to serial through C/

[2013-03-09 04:51] dfarrell07 opened #10 "Remove compiled code from repo"
There are a large number of .pyc files in the repo. It's a best-practice to not clutter the repo with compiled code. They should be removed and .gitignore should be extended to avoid tracking .pyc files. This goes for any other types of compiled code that we may generate in the future.

[2013-03-09 20:44] napratin commented on #10
Where did you see .pyc files in the repo, @dfarrell07? I thought the high-level .gitignore already ignores .pyc files. I've cleaned up .so and other generated files from the comm package recently.

[2013-03-09 20:52] dfarrell07 commented on #10
You're totally right @napratin, they are just in my local version. Closing this misguided issue, lol.

[2013-03-09 20:53] #10 closed, assigned to nobody

[2013-03-09 22:42] bpulluri commented on #9
Yeah, it's definitely non-trivial and that's why I was skeptical about
continuing with swig. Something to do with python properties. At the least,
I felt we need to know how the wrapping works if use of swig isn't
straightforward. I do not have much idea about implementation in python but
if string based commands is the best possible way, please go ahead with
that.

On Fri, Mar 8, 2013 at 11:24 PM

[2013-03-12 07:19] napratin commented on #4
I somehow feel it might be better to have each module's entry point be an instance of a subclass of `multiprocessing.Process` (overriding the `run()` method), than using a generic `Process` object and calling `start(target=...)`. E.g. if `vision.VisionManager` inherited from `Process`, you could simply do:

[code]

The advantage (I hope) is you could then do something like `pVision.stop()` (I actu

[2013-03-20 03:11] dfarrell07 opened #11 "unpickle_map fails"
The simplest way to recreate this error is to launch a Python interpreter in `high-level/qwe` and then run:

[code]

I get the following error:

[code]

I'll take a bit more of a look into this now, but I'm anxious to get back to nav code. Stay tuned for updates.

[2013-03-21 08:16] dfarrell07 opened #12 "MATLAB visualization"
I'm trying to get a MATLAB script working properly, with very little background in MATLAB. I hope this will be obvious to someone with more experience, since I have lots of other work in the nav package that I need to focus on, and asking for help seems more efficient than continuing trying to debug MATLAB.

Using [these files](https://gist.github.com/dfarrell07/5210909), I'd like to execute the M

[2013-03-21 08:51] dfarrell07 commented on #11
Are you seeing this behavior on your setup @rlsnow? Either way, can you please add the files generated by map2txt.py to the repo? This error prevents me from running that script, which is blocking some progress on the nav package. Having those files would make this issue much less critical for me.

[2013-03-21 14:24] ealamaster commented on #12
I'm guessing the problem is that you're ending your plot statements with
semicolons, which counter-intuitively means "suppress output" in MATLAB.

-Ethan

On Thu, Mar 21, 2013 at 4:16 AM, Daniel Farrell notifications@github.comwrote:

[2013-03-21 16:05] R00ney commented on #12
I would second Ethan's answer.

Matlab commands can all run with-out the semicolon's.

To actually see the output you are looking for, either un-semicolon the
line where that variable is stored to, or at the end of the script, simply
type the names of the specific outputs you want to see.

The only difference in the above is that in 1) the variable and its value
will be displayed every time that c

[2013-03-21 16:20] R00ney commented on #12
![Output_of_Sol1](https://f.cloud.github.com/assets/1588929/286737/cf92e8f4-9244-11e2-81ed-e87ad1437c2f.png)
![Output_of_Sol2](https://f.cloud.github.com/assets/1588929/286738/cff79862-9244-11e2-8c45-b14da01ac74c.png)

Hey Daniel,

Actually, your code runs fine and does output a nice interactive plot.

See attached pictures for what I saw by running the same command and input
files you did.

I sus

[2013-03-21 20:09] rlsnow commented on #11
I will check it out tonight @dfarrell.  Prob has to do with some changes I
made to map class on the last commit.

On Thu, Mar 21, 2013 at 4:51 AM, Daniel Farrell notifications@github.comwrote:

##

Ricker Snow
North Carolina State University
Student, Electrical and Computer Engineering
NCSU IEEE Secretary

[2013-03-21 20:48] dfarrell07 commented on #12
Awesome, thanks for the quick help @R00ney and @ealamaster. I'll look into getting a copy of MATLAB from NCSU now, to avoid any problems that may have been caused by my rdesktop connection to the VCL machine.

[2013-03-21 23:33] rlsnow commented on #11
Seems to be working now @dfarrell07 .  I think it was that previously the grid map was not a class.  When unpickling a class the class must be in the module doing the unpickling, otherwise it doesn't know how to use the class i guess.  Not sure why you got the ImportError about CV_Map though.  Let me know if that keeps happening. Please read on.

use:

from map_class import MapClass

in any module

[2013-03-21 23:36] rlsnow commented on #8
@dfarrell07, I wrote code for picking up and placing a block.  It is in the action package.  Any other functions needed there?

[2013-03-23 03:31] dfarrell07 commented on #8
Looks good to me @rlsnow. What do you think, @napratin?

[2013-03-23 03:33] dfarrell07 commented on #11
We fixed this by adding qwe/mapping to controller's path.

[code]

[2013-03-23 03:33] #11 closed, assigned to rlsnow

[2013-03-23 03:34] dfarrell07 commented on #9
It seems like you're well into a native Python comm module, @napratin. Time to close this issue? If you agree, please do so.

[2013-03-23 03:36] dfarrell07 commented on #6
Since I'm well past the scope of this issue, I'm going to close it and raise any more specific issues that come up in dedicated issue trackers.

[2013-03-23 03:36] #6 closed, assigned to dfarrell07

[2013-03-23 03:37] dfarrell07 commented on #5
Mapper now gives controller waypoints, the course_map and the map_properties successfully.

[2013-03-23 03:37] #5 closed, assigned to rlsnow

[2013-03-23 03:38] dfarrell07 commented on #3
Controller now starts planner correctly. Planner may need to modify the arguments it expects, in light of today's high-level group modifications of the shared data passed to each process by controller, but that's trivial and out of the scope of this issue.

[2013-03-23 03:38] #3 closed, assigned to nobody

[2013-03-23 03:40] dfarrell07 commented on #2
Controller now starts localizer correctly. Localizer may need to modify the arguments it expects, in light of today's high-level group modifications of the shared data passed to each process by controller, but that's trivial and out of the scope of this issue.

[2013-03-23 03:40] #2 closed, assigned to jschornick

[2013-03-23 03:45] dfarrell07 commented on #7
Each process now receives a serial interface object at process spawn, which can be used to poll any sensor. Nav will handle collecting, packaging and passing sensor values, along with the results of a move returned by comm from the low-level code, to localizer after each move command returns from comm. Given these architectural changes, is there any need for dedicated sensor code @napratin @jschor

[2013-03-23 03:59] dfarrell07 opened #13 "Motion primitive creation"
@R00ney (Neal) offered to own the creation of motion primitives, since he's familiar with MATLAB as well as the physical robot. Let's use this issue to track their development and share information.

Neal, you'll need to pull [this repo](https://github.com/sbpl/sbpl) and then check out the matlab/mprim directory. There are are example MATLAB scripts for building motion primitives as well as motion

[2013-03-23 08:38] dfarrell07 opened #14 "cCVSandbox is unused"
Is there any reason to keep the cCVSandbox directory in the repo? If we remove it, it will still be available if we need it again (once version controlled, almost always version controlled). I'd prefer to remove it, if we don't plan on using it, to tidy up the repo.

[2013-03-24 04:16] dfarrell07 opened #15 "Implement logging"
Much of the code is using print statements in place of logging. As we work towards integration and testing, let's all try to convert these print statements to logging calls and add additional logging calls for increased visibility. See controller.py for examples.

[2013-03-24 20:35] dfarrell07 commented on #13
Any update on the mprim work, @R00ney?

[2013-03-24 20:38] R00ney commented on #13
Not yet, sorry.

I know I will have time on Tues. and hopefully on Wed's as well.

Sorry again for being behind on this.

Neal

On Sun, Mar 24, 2013 at 4:35 PM, Daniel Farrell notifications@github.comwrote:

[2013-03-26 19:16] R00ney commented on #13
Hey guys,

what is the resolution of the map again?

A bunch of us are in Troxler right now, if anyone wants to drop in.

Neal

On Fri, Mar 22, 2013 at 11:59 PM, Daniel Farrell
notifications@github.comwrote:

[2013-03-26 20:29] dfarrell07 commented on #13
I believe it's 1/16 of an inch. Is that correct @rlsnow? Also, how can it be changed (if, say, nav runs too slow with that detailed of a map)?

I have a test in an hour, so I can't come in right now. :\

[2013-03-26 20:33] R00ney commented on #13
Currently, it looks to me like motion primitives must be hardcoded with a
certain resolution, a certain finite turn angle increment, and constant
weights on preferred motions. Unless this matlab code can be run in
realtime on the panda board.

If we can pick those three parameters for all path planning (resolution,
turn in place angles, and preferred weights) then this code will do the
work more s

[2013-03-26 20:36] dfarrell07 commented on #13
Can we create mprim files with a verity of resolutions, for performance testing? For example, 1/16, 1/8, 1/4, 1/2 and 1 inch? The angles would have to be determined experimentally, I guess.

[2013-03-26 20:41] R00ney commented on #13
I can create a variety of resolutions, I believe.

How can I create the files needed for the path display to display the found
path?
Can I give these to you, then look at the paths found after you run the
path algorithm?

Neal

On Tue, Mar 26, 2013 at 4:36 PM, Daniel Farrell notifications@github.comwrote:

[2013-03-26 20:43] dfarrell07 commented on #13
That verity of mprim resolutions is only necessary if we can easily change the resolution of the map, and if other code doesn't break with different resolutions. Does anyone have code that can't accept an arbitrary resolution map? @jschornick @rsrinath85 @napratin

The point of this multi-resolution discussion, imo, is to allow for easily adapting the code to optimize the performance of the bot on

[2013-03-26 20:47] R00ney commented on #13
As far as I can tell, this motion primitive code cannot account for our
wide swinging front end (with rear wheel drive turning in place).

So, I don't know if that's a problem here or not.

Neal

On Tue, Mar 26, 2013 at 4:43 PM, Daniel Farrell notifications@github.comwrote:

[2013-03-26 20:49] rlsnow commented on #13
The map resolution is currently 1/16 of an inch but can be changed.

map_script.py, which creates the map txt files and pkl files, sets the resolution of the map.  By default the resolution is 16 tiles per inch.  The resolution can be changed by running map_script.py and parsing an argument in during the function call.   If you wanted 1/8 of an inch resolution you would parse in 8 to map_script.py

[2013-03-26 20:52] dfarrell07 commented on #13
@R00ney, with regard to the wide swing, can we pretend that the bot is larger than it is to account for this? That was what I had in mind. I'll have to get back to you with regard to the visualizations, about to to take my test.

@rlsnow - That's nice and easy, thanks.

[2013-03-26 22:07] R00ney commented on #13
@daniel

Not to pressure you, but I plan to be in lab most of tonight, working both
on robot and primitives.

If you could come in to explain some things about the planner (with the
path search thing) I can be more useful in generating useful primitives.

Currently, certain resolution (1/16th) make bad start/endpoints for the
some certain paths in the primitives, but that might be
a misunderstandi

[2013-03-27 00:28] R00ney commented on #13
I've tried and failed to create a folder on git to add my attempts at
motion primitives to github.

I've made a branch off main, oops. That should be deleted.

I've added a file called motion_primitives, when I was really trying to
create whole folder.
That should be deleted too.

For now, I'm attaching a zip file here with the primitives I've made.

The nameing scheme is as follows:

The resoluti

[2013-03-27 01:21] dfarrell07 commented on #13
I just got done with my test and will stop by Troxer before I head home. Can't stay for too long (need to eat), but I'll be accessible online and working on this all night.

[2013-03-27 05:12] dfarrell07 opened #16 "Motion command details"
@R00ney raised some good points about the interaction between high-level nav code and low-level code that will receive the motion commands. This is actually great timing, as I was just getting to this part of nav's development.

Here are the questions @R00ney raised.
- Given that high level code tells @ealamaster's code a vector, with direction and distance, what is the protocol that distinguishes

[2013-03-27 05:19] dfarrell07 commented on #13
@R00ney, you said that you emailed me a zip archive of mprim files. I didn't receive it, likely because Gmail filtered it as seemingly malicious. Can you upload them as Gists and then provide the link here? Or, if you'd prefer, the Google Drive folder is fine as well. Trying to take an opportunity to teach us about GitHub (the best version control system out there, imho). ;)

[2013-03-27 07:28] dfarrell07 opened #17 "Need to terminate serial interface threads"
During my unit tests, I create a comm.SerialInterface object and start it. When my tests complete, I need its threads to terminate, so that my tests will actually return. @napratin's latest updates seem to have changed SIs behavior in such a way that keeps it from terminating at the end of my tests (nothing bad implied, updates are good, lol).

I see that there's a quit command that I should be us

[2013-03-27 14:11] R00ney commented on #13
They are in the drive for now, under a folder Motion Primitives by Neal
I will work on the gists thing, wish me luck.

Neal

On Wed, Mar 27, 2013 at 1:19 AM, Daniel Farrell notifications@github.comwrote:

[2013-03-27 17:07] dfarrell07 commented on #13
No big deal, they are [in the repo now](https://github.com/NCSUhardware/high-level/tree/master/qwe/navigation/mprim) anyway.

[2013-03-27 21:37] ealamaster commented on #16
I don't have an "arc-turn" command, at least not in the sense that you guys would want. My assumption is that movement would be broken down into straight lines and in-place turns, so if you want that functionality you should try @R00ney's suggestion first. If this is something that is particularly useful, I can try and add it in if I have time. You could make an arc by giving non-zero relative hea

[2013-03-27 21:41] R00ney commented on #16
If we have the high level arc turn, where the controller passes many
vectors with small changes, we need the motor controller not to try to
decelerate in that process, or it will throw the turn off.

How can we be sure it won't try to decelerate? A specific command, or
simply giving long distances that you never reach?

Neal

On Wed, Mar 27, 2013 at 5:37 PM, ealamaster notifications@github.comwrot

[2013-03-27 21:43] ealamaster commented on #16
We can add acceleration rate as a parameter for 'set', 0 to disable ramping.

[2013-03-27 21:45] dfarrell07 commented on #16
I'm not convinced that we need an arc turn. Does anyone have a compelling reason that we should work towards one before Friday? I think it would be more natural on my end to send rotate and straight commands. @R00ney, would it be very hard to remove arc turns from the mprims?

[2013-03-27 21:45] R00ney commented on #16
So, during a high arc turn, disable all ramping?

Would that lead to wheel slippage on the start of the turn?

Neal

On Wed, Mar 27, 2013 at 5:43 PM, ealamaster notifications@github.comwrote:

[2013-03-27 21:49] ealamaster commented on #16
If that's a concern, you could just use a large dSpeed value.

[2013-03-27 22:05] R00ney commented on #16
Daniel,

before I mess around with removing things from the primitives, I'd like to
know how the test primitives I create work for the motion planning.

That'll give me a better idea of what weights to change, ect.

Neal

On Wed, Mar 27, 2013 at 5:49 PM, ealamaster notifications@github.comwrote:

[2013-03-27 22:07] dfarrell07 commented on #16
Okay, I'll make it a priority to get you some results in the next few hours, @R00ney.

[2013-03-27 23:23] napratin commented on #17
@dfarrell07 Yes, the way SI works has changed a little, in order to properly do multiprocessing (it also doesn't break anymore if port is unavailable, so testing is easy). It's easiest for me to do this in code, so I am going to modify controller.py now and do it there. I haven't seen any updates to controller.py in the last few days, so I'm hoping no conflicts arise. Either way, my changes will b

[2013-03-27 23:45] napratin commented on #17
I've committed my changes to controller. I also modified vision to accept the changed set of arguments. Other processes also need to change their run method to accept all shared variables properly.

Note that SerialCommand exposes the same high-level methods that SerialInterface did earlier, so they may not need to modify anything on that front.

[2013-03-27 23:45] #17 closed, assigned to napratin

[2013-03-28 02:53] R00ney commented on #16
Any luck?

Neal

On Wed, Mar 27, 2013 at 6:07 PM, Daniel Farrell notifications@github.comwrote:

[2013-03-28 03:50] dfarrell07 commented on #16
Having to get more done than I expected. Still working on it.

[2013-03-28 04:08] dfarrell07 commented on #16
Okay, an example solution and environment file, along with the mprim file I used (one of the ones you provided), are in the mprim_test0 tarball in the Drive folder. I seems that Gists couldn't handle my 3.5MB environment file, lol.

The movement, as you'll be able to see, was from (x=1, y=1, theta=0) to (x=2, y=2, theta=0) (units are feet). Now that I've got this code build, I can easily generate

[2013-03-28 04:11] dfarrell07 commented on #16
If you have some request start and goal poses, just let me know. I doubt my code will run on Windows, so unless you're using a Linux box that I don't know about @R00ney, I'll have to build them for you (no problem).

[2013-03-28 04:41] R00ney commented on #16
If you are still up, and plan to work, would you like to try a google
hangout to talk about  desired changes to the primitives?

Neal

On Thu, Mar 28, 2013 at 12:11 AM, Daniel Farrell
notifications@github.comwrote:

[2013-03-28 05:08] R00ney commented on #16
The result looks nice as far as I can tell, but I don't know much about it.
Is this the type of result you want?

I am looking specifically for anything that you would like to change to
make the motion planning better.

I can change the weights on the turn in place, so that the planner prefers
to use those over arc turns.
Removing arc turns completely is quite involved, so if the other works we
ca

[2013-03-28 05:24] dfarrell07 commented on #16
Since we don't seem to be planning on doing arc turns, let's try to either weight them to be nearly impossible or remove them. Generating one, without being able to accommodate it, would clearly be problematic.

Try to generate a range of mprims with different numbers of discrete steps, for each of the different resolutions. One of the tests that I'd like to write will test how long it takes to ru

[2013-03-28 05:36] R00ney commented on #16
Alright,
then in the morning I plan to make new mprims with priority on
turn-in-place for

1/16,  1/8,   1/4,    1/2 inches

each with

3      5    10    20   40     steps for each primitive.

This sound ok?

BTW, this only takes however long it takes to runt the code 20 times,
basically enter 16 times times 20 = 320 or so button presses.

Neal

On Thu, Mar 28, 2013 at 1:24 AM, Daniel Farrell noti

[2013-03-28 05:39] R00ney commented on #16
Also, Ethan and I should be in the lab by 11:30ish, feel free to join us.

Neal

On Thu, Mar 28, 2013 at 1:36 AM, Neal O'Hara ngo1991@gmail.com wrote:

[2013-03-28 06:16] dfarrell07 commented on #16
Okay, sounds good to me. If I have time tonight, I'll get started on tests to use them.

[2013-03-28 15:22] R00ney commented on #16
The new primitives are now in the google drive, under
Mutli_Primitives_test.zip

Neal

On Thu, Mar 28, 2013 at 2:16 AM, Daniel Farrell notifications@github.comwrote:

[2013-03-28 20:33] dfarrell07 opened #18 "Syntax of botMove and botTurn* commands"
A few questions:
- If I wanted to tell the bot to move in reverse for some distance, would I:
  - Pass a negative distance to botMove and use the default speed (preferred)?
  - Pass a positive distance and use a negative speed (more information for me to track)?
- If I wanted the bot to turn 1/16th of a rotation counter-clockwise, would I:
  - Call botTurnRel(-22.5)?
  - Call botTurnRel(337.5) and

[2013-03-28 21:29] dfarrell07 opened #19 "Need documentation about comm return values"
I need to know how to interpret the results of calls to comm, specifically botMove and botTurn*, but it would be helpful to add this information to the doc strings of every comm.SerialCommand function that's meant to be called by other processes.

Very specifically:
- What are the units of the distance value returned by botMove, and how can I convert them to standard distance units (feet or meters

[2013-03-28 21:30] dfarrell07 commented on #9
I'm going to go ahead and close this, since we're clearly using the Python comm module exclusively.

[2013-03-28 21:30] #9 closed, assigned to napratin

[2013-03-28 21:32] dfarrell07 commented on #7
The following functions in comm.SerialCommand handle this use case. Therefore, we don't need sensor code and this issue can be closed.

[code]

[2013-03-28 21:32] #7 closed, assigned to nobody

[2013-03-28 21:35] dfarrell07 commented on #8
Anyone who's using the arm code (@rsrinath85, @napratin): are you okay with the current code in action.arm_action.py? Or does someone need to be assigned to add functionally?

[2013-03-28 21:37] dfarrell07 commented on #15
I'd really like to see us get this done before we start trying to do integration this weekend. I think it will be extremely helpful to have a unified, time-stamped view of what's going on in every process, and we're not going to be able to do that with simple print statements (or, it's much easier to do it with logging code). Please let me know if you need help implementing this.

[2013-03-28 21:40] dfarrell07 commented on #14
@napratin and @rsrinath85, are you using the C++ CV code?

[2013-03-28 21:50] dfarrell07 commented on #13
Since we have two threads going about mprims, and that's confusing, I'm going to close this less-active one.

[2013-03-28 21:50] #13 closed, assigned to R00ney

[2013-03-28 21:59] dfarrell07 commented on #16
I'm kicking myself for not noticing this earlier, but @R00ney, in the mprim files the `resolution_m` variables on the first line of all of them are in meters, not inches (all SBPL and nav code uses/should use meters). Here are the resolutions defined in the first set of mprim files you gave me. Comparing the file names and the resolution variables, it's clear that they are in inches.

[code]

Sorr

[2013-03-28 22:15] R00ney commented on #16
Daniel, I said inches in the file name, however the primitives are just
scalar.

The numbers only mean what you need them to mean.

So, the resolution is in 1/16th meter, 1/8th meter, ect.

I can generate them in terms of 10, if you prefer.

Neal

On Thu, Mar 28, 2013 at 5:59 PM, Daniel Farrell notifications@github.comwrote:

[2013-03-28 22:56] dfarrell07 commented on #16
The resolution value in the environment configuration file is required to be the same as the resolution value in the mprim file, and the resolution in the env file is required to be in meters, so the resolution of the mprim files is required to be in meters.

In other words, when telling SBPL about the environment, it wants to know the cell size of the map in meters, and it wants the motion primit

[2013-03-28 23:32] dfarrell07 commented on #16
Here are the resolution values to use:

1/16 inch in meters = 0.0015875
1/8 inch in meters = 0.003175
1/4 inch in meters = 0.00635
1/2 inch in meters = 0.0127

[2013-03-28 23:42] R00ney commented on #16
See Inch_in_meters_primitives.zip in google drive for new primitives.

Naming scheme is _16thinch is resolution in 0.0015875, and _step3 is 3
discrete steps in each primitive.

Neal

On Thu, Mar 28, 2013 at 7:32 PM, Daniel Farrell notifications@github.comwrote:

[2013-03-29 01:29] ghost commented on #8
I have copy-pasted code from Ricker's arm_action.py into Planner.py. It was more convenient that way... That file can now be ignored.

[2013-03-29 01:30] ghost commented on #14
I don't believe we have any C++ code being used.... Should be safe to remove it.

[2013-03-29 01:34] ghost commented on #18
The speed is negative and the distance is positive for a reverse motion. In fact, I am not sure if there is a check anywhere for a negative distance; we must avoid passing a negative distance.
Ethan probably knows if the speed angle is -ve or +ve since the bot is now rear wheel drive.

[2013-03-29 01:37] dfarrell07 commented on #8
Okay, I'll remove it from the repo.

[2013-03-29 01:37] #8 closed, assigned to rlsnow

[2013-03-29 01:40] dfarrell07 commented on #14
Okay, I'll remove it from the repo.

[2013-03-29 01:40] #14 closed, assigned to dfarrell07

[2013-03-29 01:42] ghost opened #20 "Using the queue for nav commands"
could you give me an example of how you want the navigation commands in the queue? Is there a difference between micro and macro nav command formats, apart from the arguments?

[2013-03-29 02:19] dfarrell07 commented on #20
[code]

Is that good? Need to know anything else?

[2013-03-29 02:20] ghost commented on #20
Seems enough. Thanks! we'll know tomorrow :)

[2013-03-29 02:20] #20 closed, assigned to dfarrell07

[2013-03-29 02:41] dfarrell07 commented on #19
It would be really helpful to know this ASAP. Do you know, @ealamaster or @rsrinath85?

[2013-03-29 03:44] ghost commented on #19
The angles are in degrees and all headings will be in degrees. So, we can keep waypoint heading in degrees as well.
I am not sure about the distance units. @ealamaster is the best person to address that.

[2013-03-29 03:50] ghost opened #21 "Additional Waypoints and WayPoint attributes"
We will require at least one additional way point, for start of upper ramp start.
Also, all waypoints require an additional field to specify what the speed must be. It can say things like "Normal", "Ramp", "Anything else @dfarrell07 might think appropriate". etc.

[2013-03-29 05:12] dfarrell07 commented on #16
@R00ney, I think your script for generating these mprims may have a bug. Notice that the name of the file suggests a different resolution than the file actually contains. Not a big deal, I'll just ignore the file names for now.

[code]

[2013-03-29 07:55] dfarrell07 commented on #16
Here's a [test result](https://docs.google.com/file/d/0B_7IPKiQjuIZSzNSLWJnR2gtbFk/edit?usp=sharing) that would be interesting to see the visualization for. It's from the start waypoint to the air waypoint using 1/16 inch cells and 5 steps per mprim.

[2013-03-29 11:50] R00ney commented on #16
Ok, I fixed the naming bug, and can give you the new ones if you really
want them.

Is this test result the output we want?
I see it gets there eventually, but wouldn't a sharper angle be more
optimal?

Is that something I can can/should change on the mprim side?

Neal

On Fri, Mar 29, 2013 at 3:55 AM, Daniel Farrell notifications@github.comwrote:

[2013-03-29 14:01] rlsnow commented on #21
Ok.  I can add these today.  Will be running a little late though.

[2013-03-29 20:38] R00ney commented on #16
@dfarrell07
The new motion primitives (16th - 2th, and step 2, 5, 10, 20, 40) with correct file name and 10 decimal places on all floating point numbers are now in the drive, under mprims_with_variable_res_and_step

[2013-03-30 02:30] R00ney commented on #16
I finished modifying the Matlab solution display.
Take a look at this sweet output.

![simple_solution](https://f.cloud.github.com/assets/1588929/319791/5d33b106-98e5-11e2-9c6d-85a2da2cd2a7.jpg)

[2013-03-30 03:24] dfarrell07 commented on #16
Holy shit that's an awesome visualization, @R00ney. Great job!

[2013-03-30 06:28] dfarrell07 commented on #21
We will also need to move the start waypoint to reflect the location where we actually want to place the point that represents the bot (the center of rotation, between the wheels).

[2013-03-30 13:32] dfarrell07 opened #22 "Need to block for localizer update"
As @jschornick and I talked about today, nav needs to do some number of steps of its solution, feed every comm feedback into the qNav_loc queue, and then get a fresh bot_loc update from localizer. It then takes that current bot_loc information and uses it to decide if it is close to the location dictated by its solution, in which case it continues with the current solution, or if it's too far off

[2013-03-30 15:41] jschornick commented on #22
The way I understood it from our chat was that localizer would update a shared bot_state variable (e.g. bot_state['loc_status']) which you can use to decide if bot_loc is current.

Specifically, the status should be in the 'ready' state when localizer has an empty queue and finished calculations.  This could be the result of full localization or just a quick update, but the point is that localizer

[2013-03-30 22:00] R00ney commented on #16
I just uploaded the new plot_3Dpath.m to google drive, so anyone with matlab can get a visualization of the solution files produced.
Of course, if you don't have Matlab just give me a text and we'll set up a google hangout so you can see them in real time.

[2013-03-30 22:38] rlsnow opened #23 "can MapClass access waypoints dict during runtime?"
I have written a function, fillLoc, in my MapClass that fills locations so that localizer can tell which locations are filled/empty.

In that function I need to access the waypoints dict.  Is the waypoints dict a global that will be accessible to MapClass?

Since mapping isn't really a living process, some process will have to make the function calls to fill a location.  So as long as that process

[2013-03-31 04:52] jschornick commented on #23
In order to start using MapClass directly (instead of my test maps), I updated map_class.fillLoc() to take waypoints as a parameter.  Passing in the unpickled waypoints dict seems to work as expected.

I also had to fix an issue where mvars.map_grid_vars doesn't exist in this context.  Instead, I opted to quickly change these references to (map_real_var \* res) calculations.

The relevant commit i

[2013-03-31 05:31] dfarrell07 commented on #22
What if I just set `bot_loc["dirty"] = True` before every move call to comm, then feed you the comm result and wait for you to set it to False before using bot_loc to make any calculations about where we are? Am I missing something important?

[2013-03-31 06:09] jschornick commented on #22
I think there's a chance of a race if you don't check (or at least guarantee) that localizer isn't running when you mark bot_loc dirty/stale.  For example:
- localizer is running
- nav sets bot_loc stale
- nav feeds the comm response into qNavLoc
- localizer finishes original task, sets bot_loc fresh
- nav assumes bot_loc is correct even though there is still a task in the queue

This should all b

[2013-03-31 06:50] dfarrell07 commented on #22
Here's how I was thinking about it.
1. nav gets a goal pose from planner.
2. nav generates a solution, which uses bot_loc, and therefore bot_loc must be clean before this step finishes.
3. nav sets bot_loc to stale.
4. nav sends a move command to comm.
5. nav feeds the comm response and sensor data to localizer.
6. These can happen in any order:
   - localizer processes the data, either doing a fu

[2013-03-31 07:16] dfarrell07 commented on #22
Regarding your situation - how could localizer be running while bot_loc is fresh (which seems to be the start state of your scenario)? It would take a comm response off of the queue, at which point bot_loc is already stale and I'm likely blocking or about to block, then it would localize (full or quick), then once it has a new bot_loc it would update bot_loc and set it to fresh. Only then could I

[2013-03-31 07:28] jschornick commented on #22
The situation only arises if we're actually using the queue as a queue, which means we could have multiple updates in it at one time.  I was under the impression nav would be running a set of quick moves (and feeding the corresponding updates into the queue) while localizer is working through a full localization.

If this is not the case, it may be a nonissue.  It sounds like at the very least, lo

[2013-03-31 07:36] dfarrell07 commented on #22
I just took out the logic for making a series of quick moves, because I thought we said that I would be doing localizer's job, since I would have to make some decision about where we are and base each move off of that assumption. Since no one knows where we are better than localizer, I thought localzer would do some number of quick updates (functionally equivalent to my quick moves), and then do a

[2013-03-31 07:40] dfarrell07 commented on #22
Also, qNav_loc is still being used as a queue, just a queue of max size = 1, which is reasonable given Python's multiprocessing primitives.

[2013-03-31 16:11] rlsnow commented on #23
Yea that should give the same result.  Good catch.  I had to take map_grid_vars out of of the map_vars module and put it back in map_script because it uses the parsed resolution in map_script.

@jschornick, you were able to read the map_real_vars ok?  I just realized I may have to pickle map_real_vars since the module that makes it isn't actually called at runtime.

[2013-03-31 19:26] #23 closed, assigned to dfarrell07

[2013-04-01 06:57] dfarrell07 opened #24 "No goToBlock function in Planner.py"
I'm trying to do full-system tests but am experiencing more bugs in Planner.py. I fixed a few simple ones, but this one's non-obvious.

In Planner.py's processSeaLand function, it makes a call to self.goToBlock, like this:

[code]

However, there's no goToBlock function in our repo. I don't know how to fix this because it's a logic error, not a syntax error. This bug can be recreated by running co

[2013-04-01 07:03] dfarrell07 opened #25 "Need comm to return more ideal response when testing"
Currently, when running a full system test, nav never makes it past the first step of its solution because comm returns movement feedback of 0.0. Since that's not within nav's acceptable error margin, it re-runs SBPL to find a new path, feeds another movement command to comm, is returned 0.0 again and this process repeats forever. If comm would return the value sent to it, as if the move had compl

[2013-04-01 14:43] R00ney commented on #24
If there's no function, does that mean it's not been created yet, or it
just isn't linked right?

Neal

On Mon, Apr 1, 2013 at 2:57 AM, Daniel Farrell notifications@github.comwrote:

[2013-04-01 15:07] dfarrell07 commented on #24
It hasn't been created:

[code]

[2013-04-01 15:39] ghost commented on #24
if there's no function, it means it is not required, at least in this case.

[2013-04-01 15:39] #24 closed, assigned to nobody

[2013-04-01 18:42] dfarrell07 opened #26 "Gripper/arm ID translation in comm is broken"
When Planner.py calls

[code]

in pickUpBlock, it passes an armId of 0 or 2. The function in comm is:

[code]

The relevant globals are:

[code]

So, gripperOpen takes 0 or 2, then translates those to 1 or 3, then passes the translated value and 200 (arrived at by a series of convoluted translations) to self.gripperSetAngle, which is:

[code]

This function takes the **already translated** arm val

[2013-04-01 18:56] #12 closed, assigned to nobody

[2013-04-01 18:57] dfarrell07 commented on #16
Since we don't have any more specific issues in this regard right now, I'm going to close this. We can open another one about any specific issue we encounter in the future.

[2013-04-01 18:57] #16 closed, assigned to nobody

[2013-04-01 18:58] #18 closed, assigned to napratin

[2013-04-01 18:59] dfarrell07 commented on #19
They are in mm.

[2013-04-01 18:59] #19 closed, assigned to napratin

[2013-04-01 19:00] dfarrell07 commented on #22
I think we have this figured out.

[2013-04-01 19:00] #22 closed, assigned to jschornick

[2013-04-01 19:12] dfarrell07 opened #27 "Need code verification"
Taking a look at the [recent commit history](https://github.com/NCSUhardware/high-level/commits/master/qwe), it's obvious that I've been finding a ton of bugs. Most have been very simple and easy to fix, but considering how many I've run into without actually doing any formal inspection of any code other than controller and nav, it seems implausible that there aren't significantly more bugs in the

[2013-04-01 23:39] #26 closed, assigned to napratin

[2013-04-01 23:44] napratin commented on #25
Fixed in [commit 9ca7285...](https://github.com/NCSUhardware/high-level/commit/9ca72855999d4a0f2cc1c4503fd638ebb18b4775) - SerialCommand now returns the desired distance and angles when faking (as if no error occurred).

[2013-04-01 23:44] #25 closed, assigned to napratin

[2013-04-02 01:01] dfarrell07 opened #28 "goToNextDropOff is not defined"
Planner currently fails because goToNextDropOff is not defined. It doesn't seem to be anywhere in the repo, so it's not a self.\* issue.

[code]

It may not be possible to recreate this bug until comm echos my move commands or I clean up the nav-loc hack @jschornick and I implemented that gets the code execution past this limitation. That shouldn't matter too much, as the bug is obvious.

[2013-04-02 03:16] ghost commented on #28
fixed...

[2013-04-02 03:16] #28 closed, assigned to nobody

[2013-04-02 17:10] dfarrell07 opened #29 "Need localizer to accept a poison pill"
It would be really clean and nice if localizer would accept a "die" command on the qNav_loc queue. The command can literally be the string "die" (that's the one nav accepts). This would allow me to politely tell localizer to die, so it can do so in a safe state, instead of me having to send it SIGINT or SIGKILL.

[2013-04-02 17:36] dfarrell07 opened #30 "Rounding between comm/nav/loc causing problems"
In short, comm only works in integer values of mm and nav rounds to hundredths of inches, which ends up causing enough precision loss to be problematic. I either need to increase the acceptable error in nav or @jschornick and @napratin need to lose less data when rounding.

Here's a log result that shows what's going on.

[code]

[2013-04-03 01:03] dfarrell07 opened #31 "KeyError in localizer"
I'm seeing the following error in localizer, both running from comm and controller.

[code]

@napratin and I are working with the bot right now, so I haven't looked into this in detail. At first glance I guess it's a problem indexing into the sensor data, maybe caused by the fact that's front is in a nested dict. Just a guess, haven't even looked at the code.

[2013-04-03 01:10] dfarrell07 commented on #31
Yeah, seeing this on the bot as well.

[2013-04-03 01:22] jschornick commented on #31
That's expected if there is a mismatch between the object you're providing via sensorData and the dict I'm using with the fake IPC channel.  If you give me an example of what to expect from sensorData, I can make them consistent.  You may want to switch to DumbLocalizer if you don't see a quick fix before I get to it.

[2013-04-03 04:45] napratin commented on #31
The shared Google doc "[Serial communication API (text)](https://docs.google.com/document/d/1R5umbO6ZcTvMM63TvPPAcvL6D3xLkH5vbT9NFKZO__U/edit#)" should contain the most updated (and final) dict format for sensor data returned (among other things). Look for getAllSensorData() in High-level methods column. Assuming @dfarrell07 preserves this structure when converting sensor values to appropriate uni

[2013-04-03 04:49] dfarrell07 commented on #31
Sorry, meant to respond to this earlier. I referenced the document @napratin linked to above, so unless it changed or I made a mistake, it should be the same. Here's an example of the sensor data dict (you can get this by running nav via test cases or controller and then inspecting the log).

[code]

[2013-04-03 17:05] jschornick commented on #31
@napratin -- thank you for the (now, in hindsight, obvious) pointers to the documentation.  I should have looked there right away.

@dfarrell07 -- I'll fix this right now so that it (at least) works with the sample data you provided.  I'll update here when it's pushed.

[2013-04-03 17:11] jschornick opened #32 "Localizer entry point needs to be passed waypoints by controller"
Localizer needs to be passed the waypoints (dict?) via run() when it is started by controller.  The waypoints structure is passed straight into the map class to perform the block-to-wall conversion using mapping's FillLoc() method.

[2013-04-03 17:16] dfarrell07 commented on #32
Okay, you're being passed the waypoints now. Here's the call:

[code]

[2013-04-03 17:16] #32 closed, assigned to dfarrell07

[2013-04-03 17:16] jschornick opened #33 "Compass should return course-normalized heading"
In order for localizer to effectively use the compass in calculations, it needs to report a heading translated to the coordinate axes on the course.

This can be done either at the comm or lower level, or anywhere higher up if a known translation factor is passed up the stack.  In discussions, @ealamaster decided it was reasonable to do this in the low level code.

Higher level code assumes that a

[2013-04-03 17:32] jschornick commented on #31
Quick fix pushed in SHA: e563a6af7e02f5986557ff02cfe832106468abe5

Please confirm that the new SensorData handling works on your end.

[2013-04-03 21:37] jschornick commented on #29
Localizer now calls exit(0) after receiving a 'die' string via qNav.

Commited as: 80af68a4e4542fdc1cece481e96106cc9606805e

[2013-04-03 21:37] #29 closed, assigned to jschornick

[2013-04-04 05:28] dfarrell07 commented on #31
Seems to work.

[2013-04-04 05:28] #31 closed, assigned to jschornick

[2013-04-04 05:29] dfarrell07 commented on #21
We need waypoints at the base and top of both ramps, so that planner can issue high speed micro moves between those locations for ramp climbs. How's the new start waypoint coming, @rlsnow?

[2013-04-04 05:30] dfarrell07 commented on #33
I believe we are now doing this. Correct, @ealamaster?

[2013-04-04 19:55] rlsnow commented on #21
There are already waypoints at the center of the lower platform, center of upper platform, and centered in front of the lower ramp on the ground level.  Are these not satisfactory?

I can change the start point as soon as we know where we want to start.  Where do we want to start?

[2013-04-04 20:01] dfarrell07 commented on #21
From what I understand after talking to @rsrinath85, the ramp waypoints should be closer to the edge of the ramp, so that the robot can power up to that point, then slow down for travel on the flat part.

@R00ney, where would we need to put the XY location (center of rotation) of 'bot such that its front is at the edge of the ramp when going up one? Such that its back is just off the ramp after go

[2013-04-04 20:07] jschornick commented on #21
On Thu, Apr 4, 2013 at 3:55 PM, Ricker notifications@github.com wrote:

Neal and I measured the start location, and we're saying it's 4.0" x
7.75" at 0 degrees.  This is it account for the fact we're giving a
little extra buffer from the wall and that the "center" of the bot is
not the visual center of the chassis.
- Jeff

[2013-04-04 20:17] napratin commented on #33
Yes, I believe controller calls compassReset() at the beginning of the round which sends compass_reset message over serial. We need to be careful that controller is run (or at least this line is executed) only after we have placed the bot in the starting position, facing 0 degrees (as per our map conventions).

[2013-04-04 20:17] #33 closed, assigned to ealamaster

[2013-04-04 20:21] napratin commented on #30
comm is only a message passer, I'm not sure if comm is doing any manipulation other than forcing angles to be int. I am currently not forcing distances to be int, that is something nav is making sure, right? (e.g. when calling botMove, botSet etc.) With floats passed in for distances, motor-control might get screwed up. Let me know if I should add int(..) casts for everything in comm.

[2013-04-04 20:29] rlsnow commented on #21
Jeff,

Were these measurements taken from the wall our from the very edge of the
course (i.e. including the wall)?

-Ricker

On Thu, Apr 4, 2013 at 4:07 PM, Jeff Schornick notifications@github.comwrote:

##

Ricker Snow
North Carolina State University
Student, Electrical and Computer Engineering
NCSU IEEE Secretary

[2013-04-04 20:35] jschornick commented on #21
On Thu, Apr 4, 2013 at 4:29 PM, Ricker notifications@github.com wrote:

The measurements are relative to the very edge of the course, not the
inside edge of the walls.
- Jeff

[2013-04-04 20:43] dfarrell07 commented on #30
I wasn't casting to int, but I am now for distance, speed and angle. I'll push these changes up ASAP.

[2013-04-05 03:13] napratin opened #34 "Nav to comm microMoveTheta bug"
In nav.py, microMoveTheta() should use scNav.botTurnRel() instead of scNav.botMove().

[2013-04-05 03:17] napratin opened #35 "Nav should use botSet as much as possible instead of botMove"
Low-level board is much better at maintaining absolute headings when moving, so most (if not all) botMove() calls in nav should be changed to botSet(), and subsequently, updates to localizer would then be sent via feedLocalizerXYTheta() instead of feedLocalizerXY().

[2013-04-05 03:54] napratin opened #36 "Nav to loc XYTheta update needs to convert abs_heading to relative before passing as dTheta"
In, feedLocalizerXYTheta(), the parameter abs_heading needs to be converted to a relative angle before passing to loc as dTheta. This should probably be done in the method calling feedLocalizerXYTheta(). Also note that botSet() expects an absolute angle. Callers of microMoveXYTheta() should be aware of this.